body{
    background-image: url('https://c.tenor.com/P9VUwFrVFioAAAAd/stranger-things-clouds.gif');
    background-size: cover;
    max-width: 100%;
    height: 85vh;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:'Josefin Sans', sans-serif;
}


/* button customs */
button{
    font-size: 1.2rem;
    border-radius: -10%;
    padding: 0;
}
h1{
    font-size: 4rem;
    padding-top: 10%;
    color: rgba(245, 248, 251, 0.839);
}
img{
    padding-top: 1%;
    max-width: 100%;
}
h2,span{
    color: white;
}

h2{
    font-size: 1.2rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    body{
       background-size: cover;
       background-position: 50%;
       max-width: 100%;
    }
    h1{
        font-size: 1rem;
        padding-top: 40%;
    }
    h2{
        padding-top: 5%;
    }
    span{
        font-weight: bold;
    }
    
}
@media screen and (min-width:1024){
    body{
        background-size: cover;
        background-position: 40%;
        max-width: 100%;
    }
    h1{
        font-size: 3.3rem;
        padding-top: 10%;
    }
}