body{
    text-align: center;
    background-color: rgba(203, 199, 199, 0.74);
}
/* button customs */
button{
    font-size: 1.2rem;
    border-radius: -10%;
 
}
button:hover{
    color: red;
}
h1{
    font-size: 1.5rem;
    padding-top: 2%;
}
img{
    padding-top: 3%;
}