body{
    background-image: url('https://c.tenor.com/P9VUwFrVFioAAAAd/stranger-things-clouds.gif');
    background-size: cover;
    max-width: 100%;
    height: 85vh;
    padding: 0;
    margin: 0;
    text-align: center;
}


/* button customs */
button{
    font-size: 1.2rem;
    border-radius: -10%;
    padding: 0;
 
}
button:hover{
    color: red;
    background-color: black;
}
h1{
    font-size: 4rem;
    padding-top: 10%;
    color: rgba(245, 248, 251, 0.839);
}
img{
    padding-top: 1%;
    max-width: 100%;
}
h2,span{
    color: white;
}
div{
    max-width: 50%;
}
h2{
    font-size: 1.2rem;
}